.container {
    width: 96.2%;
    height: 719px;
    background: rgba(7, 46, 116, 1);
    border: 1px solid rgba(102, 178, 255, 1);
}

.bootstrap-table > .fixed-table-container {
    height: 600px !important;
    padding-bottom: 0 !important;
}